@font-face {
    font-family: Montserrat;
    src: url(../Assets/Montserrat-Font.ttf) format("truetype");
}

.LP-title-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LP-title-text {
    font-family: 'Montserrat';
    font-size: 400%;
    font-weight: bold;
    color: #A0FFDD;
}